[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
seaborn = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
